*{margin:0;padding:0;}
@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans:600');

#container {
  width:100vw;
  height:100vh;
  color:aliceblue;
}
.containerPage{
  position:relative;
  top:50%;
  transform:translate3d(0,-50%,0);
}

body{
  background-image: radial-gradient(circle at center, #1d1f20, #000000);

}

#Texte1{
    
    font-size: 8rem;
}

#Texte2bis{
    font-size:30px;
}
#Texte2bisbis{
    font-size: 20px;
    text-decoration:line-through;
}

#page1 , #page2 {
  height:100%;
  font-size:2rem;
  color: whitesmoke;
  letter-spacing: 5px;
  justify-content: center;
  text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#count_num{
  font-size: 500%;
}

#inputSubmit {
  width: 200px;
  height: 40px;
  margin:auto;
  margin-top: 55px;
  border-radius: 10px;
  padding: 5px 15px;
  color: black;
  display:none;
}

#inputReponse{
  width: 200px;
  height: 40px;
  border: 20px;
  border-radius: 10px;
  padding: 5px 15px;
  color: black;
  text-align: center;

}

input:focus{
  outline:none;
}

#page2{
  position: absolute;
  visibility: hidden;
  background-image: radial-gradient(circle at center, #1d1f20, #000000);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}/*
#player{
  display:none;
}*/

.displayimportant {
  visibility: visible !important;
}

#moduleEndOfGame{
  width:100%;
  height:100%;
  background-image: radial-gradient(circle at center, #1d1f20, #000000);
  text-align:center;
  margin:auto;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  visibility:hidden;
}
#moduleEndOfGame p{
  position:relative;
  top:50%;
  transform:translateY(-50%);
  font-size:2rem;
}
.displayEndOfGame{
  visibility: visible !important;
}
#getBackToHome {
  width:200px;
  height:50px;
  border:none;
}


#progressionMusique {
  height:2px;
  position:absolute;
  background-color:white;
  bottom:0;
  left:0;
  width:0%;
}
.animMusicProgression{
  animation-name: musicBar;
  animation-duration:20s;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes musicBar{
  0%{
    width:0%;
  }
  100%{
    width:100%;
  }
}




